@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 25px 0;
}
.links a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    margin-right: 35px;
}
.login button{
    background: #DE2E54;
    border: 2px solid #DE2E54;
    padding: 12px 24px;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}